*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
nav .menu li a{
  float: left;
}
.jaune{
  color: #cfa205;
  font-size: 18px;
  text-decoration: none;
}
li{
  display: inline-block;
  margin: 10px;
}
.menu {
  background-color: black;
  height: 60px;
}
.blanc{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
header{
  height: 320px;
  background-color: black;
}
.titre{
  font-size: 133px;
  color: #cfa205;
  text-align: center;
}
header ul li {
  text-align: center;
}
.container{
  width: 1020px;
  margin: auto;
  text-align: center;
}
body{
  background-image: url("image/bg.jpg");
}
i{
  border-radius: 50%;
  text-align: center;
  border: solid 2px #7a7a7a;
  padding: 3px;
  width: 25px;
  height: 25px;
}
.lien{
  background-color: #E8E8E8;
  color: #777;
  padding: 18px 0;
}
.paragraphe{
  height: 463px;
  /*background-color: white;*/
  /*border-bottom: 2px solid #7a7a7a;*/
}
.paragraphe h2{
  font-size: 18px;
  color: #777;
  font-family: 'Bitter', serif;
  font-weight: bold;
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 2px solid #7a7a7a;
}
main{
  background-color: #fff;
}
article {
  display: inline-block;
  width: 33%;
  padding: 30px;
  text-align: left;
  margin-top: 50px;
}
p{
  font-size: 14px;
  color: #7a7a7a;
  font-family: 'Bitter',sans-serif;
  font-weight: bold;
}
article h2{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1{
  padding: 45px;
  font-weight: 400;
}
.fa-circle{
  color: #cfa205;
  font-size: 8px;
  border: none;
}
a:hover{
  color:#cfa205;
  background-image:url(images/gris_anim.gif);
  /*background-repeat:no-repeat;*/
  /*font-size: 20pt;*/
}
.lien a{
  text-decoration: none;
  color: #7a7a7a;
}
.lien a:hover{
  color: #cfa205;
}
.article{
  margin-top: 30px;
}
